page-login {
  .ion-content, .scroll-content{
    text-align: center;
  }
  .error {
    color: lightcoral;
    font-size: 15px;
  }

  .loginRegisterButtons {
    width: 85%;
    margin: 30px auto 0 auto;
  }

  #loginHeader {
    height: 70px;
  }
}
