page-debate {

}

#pro-con-container {
  text-align: center;
  height: 170px;
}

.pro-con-buttons {
  margin: 25px 9px 20px 9px;
  width: 150px;
}

#con-side {
  float: right;
  width: 150px;
  margin-right: 10px;
}

#pro-side {
  float: left;
  width: 150px;
  margin-left: 10px;
}

.con-data {
  text-align: left;
}

.pro-data {
  text-align: left;
}

#description {
  margin-top: 10px;
}
