
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>The Debate App!</ion-title>
    <button id="settingsButton"ion-button (click)="goToSettings()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-title>Topics</ion-title>
  <div class="topic-type" id="politics">
    <ion-list-header>Politics</ion-list-header>
    <div *ngIf="topics">
      <div *ngFor="let key of arrayOfKeys; let i = index;">
        <div *ngIf="topics[key].type == 'Politics'">
          <button ion-item class="topic" id="political-topic{{i}}" (click)="openTopic($event, topics[key])">{{topics[key].name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="topic-type" id="entertainment">
    <ion-list-header>Entertainment</ion-list-header>
    <div *ngIf="topics">
      <div *ngFor="let key of arrayOfKeys; let i = index;">
        <div *ngIf="topics[key].type == 'Entertainment'">
          <button ion-item class="topic" id="entertainment-topic{{i}}" (click)="openTopic($event, topics[key])">{{topics[key].name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="topic-type" id="science-and-technology">
    <ion-list-header>Science and Technology</ion-list-header>
    <div *ngIf="topics">
      <div *ngFor="let key of arrayOfKeys; let i = index;">
        <div *ngIf="topics[key].type == 'Science and Technology'">
          <button ion-item class="topic" id="science-and-technology-topic{{i}}" (click)="openTopic($event, topics[key])">{{topics[key].name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="topic-type" id="sex-and-gender">
    <ion-list-header>Sex and Gender</ion-list-header>
    <div *ngIf="topics">
      <div *ngFor="let key of arrayOfKeys; let i = index;">
        <div *ngIf="topics[key].type == 'Sex and Gender'">
          <button ion-item class="topic" id="sex-and-gender-topic{{i}}" (click)="openTopic($event, topics[key])">{{topics[key].name}}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
