page-settings {

}

#NewUsername {


}
#SubmitButton{
 margin-bottom: 3%;
}
#logout{
  margin-top: 3%;
}
#inputItem{

}
#username{
  padding-left: 1%;
  margin-bottom: 3%;
}
#CurrentUsername{
  text-decoration: underline;
}
#SetUsername{
  text-decoration: underline
}
#OtherOptions {
  text-decoration: underline;
  margin-bottom: 1%;
}
#shiftleft{
  margin-left: 1%;
}
