page-settings {

}
.profile-image {
  background-color: #8e9093;
  width: 10%;
  height: 10px;

}
.profile-initials{
  font-size: large;


}
#usInput {
  border: 1px solid gray;
  width: 37%;
  height: 25px;
}
